        @import url('https://fonts.googleapis.com/css?family=Roboto');
        @import "reset.css";
        body {
            background: #cbd8dd;
            font-family: 'Roboto', 'sans-serif';
            font-size: 16px;
            overflow-y: hidden;
        }
        
        html,
        body {
            height: 100%;
        }
        
        * {
            box-sizing: border-box;
        }
        
        .circle {
            position: relative;
            width: 60px;
            height: 60px;
            background: #d10557;
            border-radius: 50%;
            display: flex;
            align-items: center;
        }
        
        .triangles {
            display: flex;
        }
        
        .triangle__Down {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 35px 19px 0 19px;
            border-color: #ffffff transparent transparent transparent;
        }
        
        .triangle__Up {
            position: relative;
            right: 16px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 19px 35px 19px;
            border-color: transparent transparent #ffffff transparent;
        }
        
        .va__AppContainer {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        
        .va__App {
            height: 100%;
            display: flex;
        }
        
        .va__SideMenu {
            width: 90px;
            height: 100%;
            background: #373f48;
            z-index: 2;
            display: flex;
            flex-direction: column;
        }
        
        .va__ContentBox {
            overflow-y: scroll;
            flex-grow: 1;
            z-index: 1;
        }
        
        .va__Header {
            background: #fff;
            height: 70px;
            width: 100%;
            display: flex;
            align-items: center;
            box-shadow: 0px -9px 15px 12px rgba(26, 26, 26, .25);
        }
        
        .va__SideMenu__LogoBox {
            height: 70px;
            background: #ff0066;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .va__SideMenu__Options {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }
        
        .va__SideMenu__Option {
            margin: auto;
        }
        
        .va__Header__SearchBox {
            position: relative;
            width: 305px;
            height: 100%;
            border-right: 1px solid #e8e8e8;
            display: flex;
            align-items: center;
        }
        
        .va__Header__SearchBox input[type="text"] {
            border: 0;
            height: 100%;
            width: 100%;
            outline: none;
            padding: 0 20px 0 65px;
            font-size: 1rem;
            color: #a7afbb;
            cursor: pointer;
            transition: .5s;
        }
        
        .va__Header__SearchBox__Icon {
            position: absolute;
            left: 30px;
        }
        
        .va__Header__SearchBox input[type="text"]::placeholder {
            font-size: 1rem;
            color: #a7afbb;
        }
        
        .va__Header__SearchBox input[type="text"]:hover,
        .va__Header__SearchBox input[type="text"]:focus {
            background: #f7f7f7;
        }
        
        .va__Header__Menu {
            margin: 0 0 0 auto;
            height: 100%;
            display: flex;
            color: #626e7f;
        }
        
        .va__Header__UploadBtn,
        .va__Header__UserBox {
            padding: 0 30px;
            border-left: 1px solid #e8e8e8;
            height: 100%;
            display: flex;
            align-items: center;
        }
        
        .va__Header__UploadBtn {
            font-size: 1rem;
            transition: .5s;
            cursor: pointer;
        }
        
        .va__Header__UploadBtn:hover {
            background: #f7f7f7;
        }
        
        .va__Header__UploadText {
            padding: 0 0 0 18px;
        }
        
        .va__Header__UserBox {
            border: none;
        }
        
        .va__Body__VideoPageContent {
            background: #fff;
            width: 740px;
            margin: 75px auto 0;
            height: 740px;
            border-top: 4px solid #ff0066;
        }
        
        .vpc__VideoBox__Video {
            height: 416px;
            background: #000;
        }
        
        .vpc__VideoBox__ReactionBox {
            height: 78px;
            background: #373f48;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .vpc__VideoBox__Reactions {
            display: flex;
        }
        
        .vpc__VideBox__Reaction {
            padding: 0 12px;
        }